* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    height: 100px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.form__browse {
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.logo {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
        display: flex;
    align-items: center;
}

.logo_d {
    color: #f16d7f;
    font-weight: 400;
    letter-spacing: 0.68px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__block {
    display: flex;
    align-items: center;
}

.header__form {
        display: flex;
    align-items: center;
    margin-left: 37px;
}

.logo__img {
        margin-right: 13px;
}

.button {
    color: #ffffff;
font-size: 15px;
font-weight: 400;
height: 38px;
    line-height: 38px;
letter-spacing: 0.38px;
    padding-left: 19px;
    background-color: #f16d7f;
    padding-right: 19px;
}

.header__cart {
    margin-right: 26px;
}

.menu__link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
}

.menu {
    display: flex;
    list-style-type: none;
    height: 51px;
    justify-content: center;
    align-items: center;
}

.promo {
    height: 613px;
    background-color: #e8e8e8;
}

.promo__h4 {
    color: #222222;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
        line-height: 33px;
}

.promo__h3 {
    color: #222222;
font-size: 60px;
font-weight: 700;
text-transform: uppercase;
        line-height: 45px;
    margin-bottom: 15px;
}

.promo__text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px;
}

.promo__content {
        height: 100%;
    display: flex;
    align-items: center;
    background-image: url(img/promo_back.jpg);
    background-position: 0 -52px;
}

.offer__item {
    width: 560px;
}

.offer__item:first-of-type {
    margin-bottom: 20px;
}

.offer__item_big {
    height: 542px;
}

.offer__item_mini {
    height: 261px;
}

.offer {
    display: flex;
    justify-content: space-between;
	padding: 100px 0;
}

.wallet {
	background-color: #dadad2;
	background-image: url(img/offer_2.jpg);
	background-position: top right;
    background-repeat: no-repeat;
}

.man {
	background-image: url(img/offer_1.jpg);
}

.girl {
	background-image: url(img/offer_3.jpg)
}

.kid {
	background-image: url(img/offer_4.jpg);
}

.offer__text {
	margin-top: 25px;
	display: inline-block;
	background-color: #ffffff;
	text-transform: uppercase;
	padding: 16px 20px
	
}

.offer__text h2 {
	color: #222222;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.45px;
}

.offer__text h1 {
	color: #f16d7f;
	font-size: 30px;
	letter-spacing: 0.75px;
}
.text {
	text-align: center;
	margin-bottom: 60px;
}

.text h1 {
	color: #222222;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.75px;
}

.text h3 {
	color: #9f9f9f;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
}


.item {
	width: 263px;
	margin-bottom: 39px;
	position: relative;
}

.item:hover .item__add {
	display: block;
}

.item:hover {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .item__img{
	filter: brightness(50%);
}

.item__name {
	color: #222222;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	display: block;
	margin-bottom: 17px;
}

.item__price {
	color: #f16d7f;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	
}

.item__content {
	padding: 20px 15px;
}

.item__img {
	width: 100%;
}

.item__add {
	width: 123px;
	height: 39px;
	display: none;
	border: 1px solid #ffffff;
	text-align: center;
	line-height: 39px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	position: absolute;
	top: 98px;
	left: 70px;
}



.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.botton__box {
	display: flex;
	justify-content: center;
}

button {
	background: #ffffff;
	border: none;
}

details {
	border-radius: 3px 0 0 3px;
	border: 1px solid #e6e6e6;
	height: 28px;
	color: #222222;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.35px;
	line-height: 28px;
	padding: 5px 15px;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: '';
  padding-left: 1em;
	background: url(img/more.png);
	background-repeat: no-repeat;
	background-position: 6px 6px;
	
}

details[open] > summary::after{
  content: '';
}

 /* details:focus {
	border: none;
}

dsummary:focus {
	border: none;
} */

input[placeholder="Search for Item..."] {
	height: 38px;
	padding-left: 16px;
	width: 317px;
	border-radius: 0 3px 3px 0;
border: 1px solid #e6e6e6;
background-color: #ffffff;
}

input[type="submit"]{
	width: 40px;
	height: 40px;
	border: none;
	background: url(img/search.png) no-repeat center
}

input {
	
}
