body {
    background-color: #e9e9e9;
    margin: 0 auto;
    font-family: "Segoe UI";
    max-width: 1000px;
}

header {
    background-color: #a292b3;
    background-image: url(img/background_header.png);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.map {
    width: 100%;
    height: 374px;
}


/* Старые стили для меню

ul {

    width: 100%;
    color: #545454;
    font-size: 20px;
    font-weight: 400;
  display: flex;
    justify-content: flex-end; 
    align-items: center;  
    list-style-type: none;
    padding-left: 
}

ul li{
    font-family: "Segoe UI";
    width: 150px;
    display: inline-block;  
    text-align: center;
}

Ul li a:hover {
    color: #f8f8f8;
}

a {
    text-decoration: none;
} */

h1 {
    width: 100%;
    height: 100%;
    color: #505051;
    font-family: "Segoe UI";
    font-size: 31px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

p,
form {
    margin: 0%;
    color: #838383;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

P:first-letter {
    font-size: 2em;
    color: #451f6d;
    font-family: "Open Sans";
}

footer {
    /* Подвал */
    width: 100%;
    height: 30px;
    color: #454242;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #a292b3;
    background-image: url(img/background_header.png);
    background-position: center;
}

h3,
h4 {
    background-color: #eaeaea;
    color: #505051;
    font-weight: 700;
    line-height: 36px;
}

h4 {
    margin-bottom: 0px;
}

hr {
    height: 8px;
    background: #82699d;
    display: flex;
    padding-top: 0%;
    border: 0px;
}

.img_all {
    margin-bottom: 20px;
    margin-top: 20px
}

.img {
    outline: #a292b3 dotted 7px;
    display: flex;
    flex-wrap: wrap;
}

.img_cat {
    margin-right: 20px;
    margin-bottom: 5px;
    float: left;
    margin-left: 7px;
}

.img:hover {
    outline: none;
}


/* Стили соответствующие остальным

ol {
    list-style-type: none;
    color: #838383;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

ol li {
    font-family: "Segoe UI";
} */


/* Никому не нужные нумированные списки -_____-
ol {
    list-style-type: lower-greek;
    color: #494848;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-family: cursive;
} */


/* Кнопки */

.t {
    background-color: #a292b3;
    color: #e9e9e9;
    width: 49.6%
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap
}


/* Стили для страницы каталога */

.podpis {
    padding: 0%;
    color: #838383;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.kratko {
    font-style: italic
}

.color {
    color: #451f6d;
}

.vvod {
    width: 200px;
    height: 20px;
}

input.vvod:focus {
    color: #e9e9e9;
    background-color: #a292b3;
    text-transform: capitalize;
}

textarea:focus {
    color: #e9e9e9;
    background-color: #a292b3;
    text-transform: capitalize;
}

.str {
    height: 50px;
}

table {
    border: 2px solid #451f6d;
    width: 100%;
    height: 500px;
    border-collapse: collapse;
}

td {
    border: 2px solid #451f6d;
    text-align: center;
    width: 20%;
}

input.vvod[placeholder="Введите e-mail"] {
    text-transform: lowercase;
}


/* Новые стили для меню с дополнениями */

.menu ul {
    list-style-type: none;
}

.menu > ul {
    display: flex;
}


/*
@media (max-width:700px) {
    .menu > ul {
        display: block;
    }
}*/

.menu > ul li a {
    display: block;
    background: #a292b380;
    padding: 15px 20% 15px 10%;
    font-size: 20px;
    color: #551a8b;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu > ul li {
    border-left: 1px solid #ccc;
}

.menu > ul li:first-child {
    border-left: 1px solid #ccc;
}

.menu > ul li:last-child {
    border-right: 0px solid #ccc;
}

.menu li a:hover {
    background: #551a8b;
    color: #a292b3;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}


/* Выпадающее меню */

.menu li ul {
    position: absolute;
    padding: 0%;
    min-width: 140px;
    display: none;
}

.menu li > ul li {
    border: 1px solid #c7c8ca;
}

.menu li > ul li a {
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}

.menu li:hover > ul {
    display: block
}

footer h5 {
    margin-right: 10px;
    background-color: #a292b390;
    line-height: 1.5;
}

.my_botton {
    display: flex;
    justify-content: flex-end
}

.button {
    background: #451f6d;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
}

.button:hover {
    background: #a292b3;
}

.button:active {
    background-image: url(img/background_header.png);
    background-position: left;
}